__pycache__/
gdip.ahk
main.ahk
Python/.vscode/settings.json
Python/Scripts/local_env.py
Python/Scripts/test.py
debug.py
debug_ocr.png
local_env.py
settings.json
Python/Scripts/ngu_icon\.ico
Python/Scripts/ngu_icon\.png
Python/Scripts/custom3min.py
Python/Scripts/usersettings.py
Python/Scripts/customitopodsnipe.py
Python/Scripts/60m.py
Python/Scripts/3min.py
